body {

    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background-color:#777;
    width: 960px;
    font-size: 18px;

    }

    .center {
        margin: auto;
        width: 90%;
        height: 500px;


    }
    .header,
    .nav,
    .section,
    .aside,
    .footer {

        background-color: #ebebeb;

    
        }

        .header{
            text-align: center;
            width: 864px;
            height: 90px;    
            padding-bottom: 5px;


            
        }

        .nav{
             text-align: center;
             width: 864px;
             height: 90px;
             padding-top: 5px;
             margin-top: 10px;
            
        }

        .aside {
            float: right;
            text-align: center;
            height: 280px;
            width: 330px;
            margin-top: 20px;
        }
            
            


        .section
             {
                text-align: center;
                height: 280px;
                width: 495px;
                
            }

            

            .article {
                margin: auto;
                width: 475px;
                height: 210px;
                text-align: center;
                color: #ebebeb;
                background-color: #777;
            }
           
            .p1header {
                margin: auto;
                text-align: center;
                color: #777;
                background-color: #ebebeb;
                width: 400px;
                height: 50px;
            }

            .p2header {
                margin: auto;
                text-align: center;
                color: #777;
                background-color: #ebebeb;
                width: 400px;
                height: 50px;
            }

             .footer {
                text-align: center;
                width: 864px;
                height: 28px;
                padding-bottom: 50px;
            }